body {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
  }

.App{
    padding: 1rem 1rem 0 3rem;
    background-color: black;
}
  a {
    color: white;
    text-decoration-line: none;
  }